{% extends 'web/base.html' %} {% block body %} {% load static %}


<div class="container jobs">
    <div class="row">
        <div class="col-md-6">
            <div class="blog-content">
                <h2 class="blog-title job-title">Web Devloper</h2>
                <div class="blog-meta">
                    <i class="fa fa-building"></i>
                    <span>Google</span><br>
                    <i class="fa fa-calendar-alt"></i>
                    <span>10 Days left</span><br>
                    <i class="fas fa-money-check-alt"></i>
                    <span>10000/-</span><br>
                    <i class="fas fa-map-marker-alt text-purple"></i>
                    <span>Ahmedabad</span><br>
                    <br>
                </div>
                <div class="blog-text">
                    <h6>Skills Requires</h6>
                    <p>HTML, CSS, Javascripts, Djnago</p>
                    <a class="btn" href="">Read More</a>
                </div>
                <button type="button" class="btn btn-primary">Apply Now</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="blog-content">
                <h2 class="blog-title job-title">Web Devloper</h2>
                <div class="blog-meta">
                    <i class="fa fa-building"></i>
                    <span>Google</span><br>
                    <i class="fa fa-calendar-alt"></i>
                    <span>10 Days left</span><br>
                    <i class="fas fa-money-check-alt"></i>
                    <span>10000/-</span><br>
                    <i class="fas fa-map-marker-alt text-purple"></i>
                    <span>Ahmedabad</span><br>
                    <br>
                </div>
                <div class="blog-text">
                    <h6>Skills Requires</h6>
                    <p>HTML, CSS, Javascripts, Djnago</p>
                    <a class="btn" href="">Read More</a>
                </div>
                <button type="button" class="btn btn-primary">Apply Now</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="blog-content">
                <h2 class="blog-title job-title">Web Devloper</h2>
                <div class="blog-meta">
                    <i class="fa fa-building"></i>
                    <span>Google</span><br>
                    <i class="fa fa-calendar-alt"></i>
                    <span>10 Days left</span><br>
                    <i class="fas fa-money-check-alt"></i>
                    <span>10000/-</span><br>
                    <i class="fas fa-map-marker-alt text-purple"></i>
                    <span>Ahmedabad</span><br>
                    <br>
                </div>
                <div class="blog-text">
                    <h6>Skills Requires</h6>
                    <p>HTML, CSS, Javascripts, Djnago</p>
                    <a class="btn" href="">Read More</a>
                </div>
                <button type="button" class="btn btn-primary">Apply Now</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="blog-content">
                <h2 class="blog-title job-title">Web Devloper</h2>
                <div class="blog-meta">
                    <i class="fa fa-building"></i>
                    <span>Google</span><br>
                    <i class="fa fa-calendar-alt"></i>
                    <span>10 Days left</span><br>
                    <i class="fas fa-money-check-alt"></i>
                    <span>10000/-</span><br>
                    <i class="fas fa-map-marker-alt text-purple"></i>
                    <span>Ahmedabad</span><br>
                    <br>
                </div>
                <div class="blog-text">
                    <h6>Skills Requires</h6>
                    <p>HTML, CSS, Javascripts, Djnago</p>
                    <a class="btn" href="">Read More</a>
                </div>
                <button type="button" class="btn btn-primary">Apply Now</button>
            </div>
        </div>
    </div>
</div>
{% endblock body %}