{% extends 'web/base.html' %} {% block body %} {% load static %}


<div class="profile">
    <div class="container">
        <div class="team-single">
            <div class="row">
                <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                    <div class="team-single-img">
                        <img src="{% static 'images/profile.jpeg' %}" alt="">
                    </div>
                    <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                        <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">Software Engineer</h4>
                        <p class="sm-width-95 sm-margin-auto">Love to build new software Evenryday and making hands dirty in new tech.</p>
                        <div class="margin-20px-top team-single-icons">
                            <div class="team-social">
                                <ul class="no-margin">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-github"></i></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-7">
                    <div class="team-single-text padding-50px-left sm-no-padding-left">
                        <h4 class="font-size38 sm-font-size32 xs-font-size30">Harsh Patel</h4>
                        <p class="no-margin-bottom">Bio</p>
                        <div class="contact-info-section margin-40px-tb">
                            <ul class="list-style9 no-margin">
                                <li>

                                    <div class="row">
                                        <div class="col-md-5 col-5">
                                            <i class="fas fa-graduation-cap text-purple"></i>
                                            <strong class="margin-10px-left text-purple">Degree:</strong>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            <p>Master's Degrees</p>
                                        </div>
                                    </div>

                                </li>
                                <li>

                                    <div class="row">
                                        <div class="col-md-5 col-5">
                                            <i class="far fa-gem text-purple"></i>
                                            <strong class="margin-10px-left text-purple">Exp.:</strong>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            <p>Web dev</p>
                                        </div>
                                    </div>

                                </li>
                                <li>

                                    <div class="row">
                                        <div class="col-md-5 col-5">
                                            <i class="far fa-building text-purple"></i>
                                            <strong class="margin-10px-left text-purple">Company:</strong>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            <p>Google</p>
                                        </div>
                                    </div>

                                </li>
                                <li>

                                    <div class="row">
                                        <div class="col-md-5 col-5">
                                            <i class="fas fa-map-marker-alt text-purple"></i>
                                            <strong class="margin-10px-left text-purple">Address:</strong>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            <p>Ahmedabad, India</p>
                                        </div>
                                    </div>

                                </li>
                                <li>

                                    <div class="row">
                                        <div class="col-md-5 col-5">
                                            <i class="fas fa-mobile-alt text-purple"></i>
                                            <strong class="margin-10px-left xs-margin-four-left text-purple">Phone:</strong>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            <p>(+91) 9328541916</p>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-5 col-5">
                                            <i class="fas fa-envelope text-purple"></i>
                                            <strong class="margin-10px-left xs-margin-four-left text-purple">Email:</strong>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            <p><a href="javascript:void(0)">harshpatel@gmail.com</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <h3 class="prof-skills-title">Professional Skills</h3>

                        <div class="prof-skills">
                            <ul class="skills">
                                <li>Web Devlopment</li>
                                <li>Android Devlopment</li>
                                <li>Cloud Dev</li>
                                <li>Java</li>
                                <li>C++</li>
                            </ul>
                        </div>



                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


{% endblock body %}