{% extends 'web/base.html' %} {% block body %} {% load static %}
<div class="team">
    <div class="container">

        <div class="row">

            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="pic">
                        <img src="{% static 'images/profile-1.jpg' %}" alt="">
                    </div>

                    <ul class="social">

                        <li><a href="#"><i class="fab fa-github"></i></a></li>

                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>

                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>

                    <div class="team-content">

                        <h3 class="title">Harsh Patel</h3><br>
                        <span class="post">web developer</span>
                        <p class="description">
                            Student at the School of Engineering and Applied Science, Ahmedabad University with a goal to become a leading computer science professional. Trying To develop new things everyday with tring to explore new tech. Also I love to build amazing Web sites
                            and creating new things.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="pic">
                        <img src="{% static 'images/profile-2.jpeg' %}" alt="">
                    </div>

                    <ul class="social">

                        <li><a href="#"><i class="fab fa-github"></i></a></li>

                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>

                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>

                    <div class="team-content">

                        <h3 class="title">Nirav Karavadra</h3><br>
                        <span class="post">Student/Programmer</span>
                        <p class="description">
                            I'm currently pursuing BTech in Computer Science and Engineering at the School of Engineering and Applied Science, Ahmedabad University with a goal to become a leading computer science professional and a Programmer. The idea of Computers, Cyber security,
                            Artificial Intelligence, and machine learning brought me to Ahmedabad University for studying Computer Science and various other domains. I'm currently leading the team with multiple innovative projects which are recognized
                            by the State Government and Ahmedabad University and aiming at the National and International Levels.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="pic">
                        <img src="{% static 'images/profile-3.jpeg' %}" alt="">
                    </div>

                    <ul class="social">

                        <li><a href="#"><i class="fab fa-github"></i></a></li>

                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>

                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>

                    <div class="team-content">

                        <h3 class="title">Tirth Kanani</h3><br>
                        <span class="post">web developer</span>
                        <p class="description">
                            I'm a BTech in Computer Science and Engineering Student at the School of Engineering and Applied Science, Ahmedabad University with a goal to become a leading computer science professional with a touch of Physics and Mechanical Engineering. The craze
                            of Computers, Designs, Aeroplanes, Rockets, and mechanics brought me to Ahmedabad University for studying Computer Science and various other domains.I'm currently leading the team with multiple innovative projects which are
                            recognized by the State Government and Ahmedabad University and aiming at the National and International Levels.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock body %}