{% extends 'web/base.html' %} {% block body %} {% load static %}
<div class="team">
    <div class="container">

        <div class="row">

            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="pic">
                        <img src="{% static 'images/profile-1.jpg' %}" alt="">
                    </div>

                    <ul class="social">

                        <li><a href="#"><i class="fab fa-github"></i></a></li>

                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>

                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>

                    <div class="team-content">

                        <h3 class="title">Harsh Patel</h3>
                        <span class="post">web developer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar feugiat fermentum. Donec efficitur posuere eros, vitae placerat.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="pic">
                        <img src="{% static 'images/profile-2.jpeg' %}" alt="">
                    </div>

                    <ul class="social">

                        <li><a href="#"><i class="fab fa-github"></i></a></li>

                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>

                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>

                    <div class="team-content">

                        <h3 class="title">Nirav Karavadra</h3>
                        <span class="post">Student/Programmer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar feugiat fermentum. Donec efficitur posuere eros, vitae placerat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">

                <div class="our-team">

                    <div class="pic">
                        <img src="" alt="">
                    </div>

                    <ul class="social">

                        <li><a href="#"><i class="fab fa-github"></i></a></li>

                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>

                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>

                    <div class="team-content">

                        <h3 class="title">Tirth Kanani</h3>
                        <span class="post">web developer</span>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar feugiat fermentum. Donec efficitur posuere eros, vitae placerat.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock body %}